<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.encryption" version="1.0.6" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>encryption</name>
    <js-module name="encryption" src="www/encryption.js">
        <clobbers target="encryption" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="encryption">
                <param name="android-package" value="cordova.encryption.encryption" />
            </feature>
        </config-file>

        <!-- arr引用 -->
        <resource-file src="src/android/SecurityEnginelibrary-release.aar" target="libs/SecurityEnginelibrary-release.aar" />
        <framework src="src/android/SecurityEnginelibrary-release.gradle" custom="true" type="gradleReference" />

        <!-- 需要的android权限 -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- <uses-feature android:name="android.hardware.usb.host" android:required="false" /> -->
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/encryption.java" target-dir="src/cordova/encryption" />
        <source-file src="src/android/MessageMail.java" target-dir="src/cordova/encryption" />
        <source-file src="src/android/Recipient.java" target-dir="src/cordova/encryption" />
        <source-file src="src/android/Attachment.java" target-dir="src/cordova/encryption" />
        <source-file src="src/android/Credentials.java" target-dir="src/cordova/encryption" />
        <!-- <source-file src="src/jniLibs/armeabi/libcrypto.so" target-dir="jniLibs/armeabi" />
        <source-file src="src/jniLibs/armeabi/libeyibc.so" target-dir="jniLibs/armeabi" />
        <source-file src="src/jniLibs/armeabi/libntls.so" target-dir="jniLibs/armeabi" />
        <source-file src="src/jniLibs/armeabi/libproxy.so" target-dir="jniLibs/armeabi" />
        <source-file src="src/jniLibs/armeabi/libSecurityEngineNTLS.so" target-dir="jniLibs/armeabi" />
        <source-file src="src/jniLibs/armeabi/libssl.so" target-dir="jniLibs/armeabi" /> -->
        <!-- <source-file src="src/jniLibs/armeabi/libSecurityEngine4j.so" target-dir="jniLibs/armeabi" /> -->
        <source-file src="src/assets/ErrorMsg.xml" target-dir="assets" />
    </platform>
</plugin>