<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.encryption" version="1.1.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>encryption</name>
    <js-module name="encryption" src="www/encryption.js">
        <clobbers target="encryption" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="encryption">
                <param name="android-package" value="cordova.encryption.encryption" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/encryption.java" target-dir="src/cordova/encryption/encryption" />

        <source-file src="src/libs/SecurityEnginelibrary-release.aar" target-dir="libs" />
            <framework src="src/android/SecurityEnginelibrary-release.gradle" custom="true" type="gradleReference" />
        <!-- <source-file src="src/jniLibs/armeabi/libcrypto.so" target-dir="jniLibs/armeabi" />
        <source-file src="src/jniLibs/armeabi/libeyibc.so" target-dir="jniLibs/armeabi" />
        <source-file src="src/jniLibs/armeabi/libntls.so" target-dir="jniLibs/armeabi" />
        <source-file src="src/jniLibs/armeabi/libproxy.so" target-dir="jniLibs/armeabi" />
        <source-file src="src/jniLibs/armeabi/libSecurityEngineNTLS.so" target-dir="jniLibs/armeabi" />
        <source-file src="src/jniLibs/armeabi/libssl.so" target-dir="jniLibs/armeabi" /> -->
        <!-- <source-file src="src/jniLibs/armeabi/libSecurityEngine4j.so" target-dir="jniLibs/armeabi" /> -->
        <source-file src="src/assets/ErrorMsg.xml" target-dir="assets" />
    </platform>
</plugin>